[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
ExecStart=kanata
Restart=no

[Install]
WantedBy=default.target
