[user]
	name       = Jacob Koziej
	email      = jacobkoziej@gmail.com
	signingkey = 4C133A84E6469228

[alias]
	a = add
	c = commit
	p = push

[core]
	editor = nvim

[checkout]
	workers = 8

[commit]
	gpgsign = true
	verbose = true

[merge]
	ff = false

[pull]
	ff     = true
	rebase = false

[push]
	autoSetupRemote = true

[color]
	ui = auto

[init]
	defaultBranch = master

[filter "lfs"]
	clean    = git-lfs clean  -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true
