[user]
	name       = Jacob Koziej
	email      = jacobkoziej@gmail.com
	signingkey = 4C133A84E6469228

[core]
	editor = vim

[checkout]
	workers = 8

[commit]
	gpgsign = true

[merge]
	ff = false

[pull]
	ff     = true
	rebase = false

[color]
	ui = auto

[init]
	defaultBranch = master

[filter "lfs"]
	clean    = git-lfs clean  -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true
