[user]
	name       = Jacob Koziej
	email      = jacobkoziej@gmail.com
	signingkey = 4C133A84E6469228

[alias]
	a  = add
	c  = commit
	co = checkout
	d  = diff
	f  = fetch
	l  = log
	p  = push
	r  = rebase

[checkout]
	workers = 8

[color]
	ui = auto

[commit]
	gpgsign = true
	verbose = true

[core]
	editor = nvim

[filter "lfs"]
	clean    = git-lfs clean  -- %f
	smudge   = git-lfs smudge -- %f
	process  = git-lfs filter-process
	required = true

[init]
	defaultBranch = master

[merge]
	ff = false

[pull]
	ff     = true
	rebase = false

[push]
	autoSetupRemote = true

[submodule]
	recurse = true
